<div class="prompt-intro">Find Something:</div>
<%= @prompt.body %><br>
<%= @round.created_at %><br>
<button type="button" name="button">Camera</button><br>
Submitted:<br>


<%= link_to "Open Rounds", user_rounds_path(@user) %>
<%= link_to "Closed Rounds", user_path(@user) %>
