<div class="photo-list-header">Round Photos:</div>
Submitted:<br>
<ul>
  <!-- Remove this example link -->
  <!-- <li> %#link_to "Photo Link", round_photo_path(@round, @photo)% </li> -->
<% @photos.each do |photo| %>
  <li>
  <%= photo.user.first_name %>
  <%= link_to "Photo Show", round_photo_path(@round, photo) %>
  </li>
<% end %>
</ul>
Invited:<br>
<%= link_to "Open Rounds", user_rounds_path(@user) %>
<%= link_to "Closed Rounds", user_path(@user) %>
